# Byte-compiles/ optimized/DLL files
__pycache__/
*.py[cod]

# Notebookcheckpoints
.ipynb_checkpoints/

# csv and excel files
*.csv
*.xlsx

# specific files
*scraping*
elsevier.txt
ieee.txt
read_csv_files.ipynb
Untitled*

